* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace, sans-serif;
    cursor: default;
    user-select: none;
    outline: none;
}

html, body {
    position: relative;
    overflow: hidden;
}

/*____________________*/
textarea, p, button, select {
    width: calc(100% - 32px - 16px);
    width: -webkit-fill-available;
    margin: 8px 16px;
    padding: 8px;
}

#title, #permission {
    text-align: center;
}

textarea, button, select {
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

button {
    padding: 8px;
    transition: box-shadow 120ms;
    background: aliceblue;
    border-color: #e5e5ff;
}

button:active {
    /* background-color: aliceblue;
    border-color: #e5e5ff; */
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

#permission {
    position: fixed;
    bottom: 0;
    color: rgba(0, 0, 0, 0.8);
}