@keyframes fab {
    100% {
        transform: scale(1) rotate(0)
    }
}

@keyframes spin {
    100% {
        transform: rotate(-360deg)
    }
}

.primary {
    background: #304FFE;
}

.dark {
    background: #000
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace, sans-serif;
    cursor: default;
    user-select: none;
    outline: none;
}

html, body {
    position: relative
}

/*____________________*/
.content {
    overflow: hidden;
}

textarea, p, .btn, select {
    width: calc(100% - 32px - 8px);
    margin: 8px 16px;
    padding: 4px;
}

#title {
    text-align: center;
}

textarea, select {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.btn {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 8px;
}

input {
    display: inline-block;
}